<h1>Green Leaves</h1>
<div class="row">
  <form [formGroup]="form" class="row col-9" (ngSubmit)="submit()" autocomplete="off">
    <div class="col-lg-6 col-xl-12 form-group">
      <label class="col-3" for="name">Nombre:</label>
      <input class="col-9" type="text" name="name" formControlName="name" />
      <span
        class="error"
        *ngIf="
          form.get('name').invalid &&
          (form.get('name').dirty || form.get('name').touched)
        "
        >Error en campo</span
      >
    </div>

    <div class="col-lg-6 col-xl-12 form-group">
      <label class="col-3" for="email">E-mail:</label>
      <input class="col-9" type="text" name="email" formControlName="email" />
    </div>
    <div class="col-lg-6 col-xl-12 form-group">
      <label class="col-3" for="phone">Teléfono:</label>
      <input
        class="col-9"
        type="text"
        name="phone"
        formControlName="phone"
      />
    </div>
    <div class="col-lg-6 col-xl-12 form-group">
      <label class="col-3" for="date">Fecha:</label>
      <input class="col-9" type="date" name="date" formControlName="date" />
    </div>
    <div class="col-lg-6 col-xl-12 form-group">
      <label class="col-3" for="city">Ciudad y estado:</label>
      
        <input
          formControlName="city"
          type="search"
          class="col-9"
          list="city-results"
          name="city"
          autofocus
        />
        <datalist id="city-results">
          <option *ngFor="let item of page?.items">
            {{item.cityName}} {{item.stateName}}
          </option>
        </datalist>
      
    </div>
    <div class="col-lg-6 col-xl-12 form-group submit-link">
      <input type="submit" value="Enviar" />
    </div>
  </form>
  <div class="col-3">
    <p>[this space for messageBox, or just do a modal, whatever]</p>
  </div>
</div>
