<h1>Green Leaves</h1>
<div class="row">
  <form class="row col-9">
    <div class="col-lg-6 col-xl-12 form-group">
      <label class="col-3" for="nombre">Nombre:</label>
      <input class="col-9" type="text" name="nombre" />
    </div>

    <div class="col-lg-6 col-xl-12 form-group">
      <label class="col-3" for="email">E-mail:</label>
      <input class="col-9" type="text" name="email" />
    </div>
    <div class="col-lg-6 col-xl-12 form-group">
      <label class="col-3" for="telefono">Teléfono:</label>
      <input class="col-9" type="text" name="telefono" />
    </div>
    <div class="col-lg-6 col-xl-12 form-group">
      <label class="col-3" for="fecha">Fecha:</label>
      <input class="col-9" type="date" name="fecha" />
    </div>
    <div class="col-lg-6 col-xl-12 form-group">
      <label class="col-3" for="ciudad">Ciudad y estado:</label>
      <input class="col-9" type="text" name="ciudad" />
    </div>
    <div class="col-lg-6 col-xl-12 form-group submit-link">
      <input type="submit" value="Enviar"/>
    </div>
  </form>
  <div class="col-3">
    <p>[this space for messageBox, or just do a modal, whatever]</p>
  </div>
</div>
